@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Informacion Asignatura";
}
<h1>@ViewData["Title"]</h1>
<div>
    <a class="btn btn-success" href="~/Asignatura/Create/">Agregar</a>
</div>
<table class="table table-dark table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asignatura in Model)
        {
            <tr>
                <td>@asignatura.Nombre</td>
                <td>@asignatura.Id</td>
                <td>
                    <a class="btn btn-primary" href="~/Asignatura/Edit/@asignatura.Id">Editar</a>
                    <a class="btn btn-danger" href="~/Asignatura/Delete/@asignatura.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><i>@ViewBag.Fecha</i></p>